- $link_cat_aff = "http://www.tempsl.fr/cat/fr/ECatalog.htm";
- $ga_cat_aff   ="ga('global.send', 'event', 'EncartSiteUnder_Ecata', 'EncartSiteUnder_Ecata_1215', 'cover');";
- $ga_cat_btn_aff   ="ga('global.send', 'event', 'EncartSiteUnder_Ecata', 'EncartSiteUnder_Ecata_1215', 'lien');";