meta#ctl00_META_DESCRIPTION[name="Description" content="TEMPS L : le catalogue des idées utiles pour la famille et la maison"]
meta[content="fr" http-equiv="Content-Language"]
meta[content="INDEX|FOLLOW" name="robots"]
meta[http-equiv="Content-Type" content="text/html;charset=UTF-8"]
meta[name="keywords" content=""]
link[href="./css/NOT_IE_PositionFixed.css" rel="stylesheet" type="text/css"]
link[href="./images/favicon/favicon.ico" rel="shortcut icon" type="image/x-icon"]
link[href="./images/favicon/apple-touch-icon-57x57.png" rel="apple-touch-icon" sizes="57x57"]
link[href="./images/favicon/apple-touch-icon-72x72.png" rel="apple-touch-icon" sizes="72x72"]
link[href="./images/favicon/apple-touch-icon-114x114.png" rel="apple-touch-icon" sizes="114x114"]
link[href="./images/favicon/apple-touch-icon-144x144.png" rel="apple-touch-icon" sizes="144x144"]
link[href="./images/favicon/apple-touch-icon-60x60.png" rel="apple-touch-icon" sizes="60x60"]
link[href="./images/favicon/apple-touch-icon-120x120.png" rel="apple-touch-icon" sizes="120x120"]
link[href="./images/favicon/apple-touch-icon-76x76.png" rel="apple-touch-icon" sizes="76x76"]
link[href="./images/favicon/apple-touch-icon-152x152.png" rel="apple-touch-icon" sizes="152x152"]
link[href="./images/favicon/favicon-16x16.png" rel="icon" type="image/png" sizes="16x16"]
link[href="./images/favicon/favicon-32x32.png" rel="icon" type="image/png" sizes="32x32"]
link[href="./images/favicon/favicon-96x96.png" rel="icon" type="image/png" sizes="96x96"]
link[href="./images/favicon/favicon-160x160.png" rel="icon" type="image/png" sizes="160x160"]
meta[name="msapplication-TileColor" content="#c3b191"]
meta[name="msapplication-TileImage" content="/images/favicon/mstile-144x144.png"]
meta[name="msapplication-square70x70logo" content="/images/favicon/mstile-70x70.png"]
meta[name="msapplication-square150x150logo" content="/images/favicon/mstile-150x150.png"]
meta[name="msapplication-wide310x150logo" content="/images/favicon/mstile-310x150.png"]
meta[name="msapplication-square310x310logo" content="/images/favicon/mstile-310x310.png"]

link[href="./css/centuryGoth.css" rel="stylesheet" type="text/css"]
link[href="./css/playerVOTV.css" rel="stylesheet" type="text/css"]

style[type="text/css"]
  |  #ctl00_UC_HEADER_UC_RECHERCHE_ACT_RECHERCHEResults { position: absolute; width: 250px; z-index: 6000; background-color: White; border: Gray Solid 1px; margin: 0px; padding: 0px; }
  |  #ctl00_UC_HEADER_UC_RECHERCHE_ACT_RECHERCHEResults ul { list-style-type: none; margin: 0px; padding: 0px; overflow: auto; }
  |  #ctl00_UC_HEADER_UC_RECHERCHE_ACT_RECHERCHEResults ul li { margin: 0; padding: 3px; cursor: pointer; font-weight: normal; font-style: normal; font-size: 8pt; color: ; font-family: Verdana }
  |  #ctl00_UC_HEADER_UC_RECHERCHE_ACT_RECHERCHEResults ul li.selected { background-color: Lavender; font-weight: normal; font-style: normal; font-size: ; color: }

script[type="text/javascript" src="./js/jquery-1.8.3.min.js"]
script[type="text/javascript" src="./js/jquery.ui.core.min.js"]
script[type="text/javascript" src="./js/jquery.ui.widget.min.js"]
script[type="text/javascript" src="./js/jquery.ui.rcarousel.min.js"]
script[type="text/javascript" src="./js/common.js"]
