/* ******* Century Gothic (Regular) ***** */
@font-face {
  /* IE Rule */
  font-family: "CenturyGothic";
  src: url(../fonts/CenturyGothic.eot);
}

@font-face {
  font-family: "CenturyGothic";
  src: url(../fonts/CenturyGothic.TTF) format("truetype");
}

/* ******* Century Gothic (Bold) ***** */
@font-face {
  /* IE Rule */
  font-family: "CenturyGothicBold";
  src: url(../fonts/CenturyGothicBold.eot);
}

@font-face {
  font-family: "CenturyGothicBold";
  src: url(../fonts/CenturyGothicBold.TTF) format("truetype");
}

/* ******* Century Gothic (Italic) ***** */
@font-face {
  /* IE Rule */
  font-family: "CenturyGothicItalic";
  src: url(../fonts/CenturyGothicItalic.eot);
}

@font-face {
  font-family: "CenturyGothicItalic";
  src: url(../fonts/CenturyGothicItalic.TTF) format("truetype");
}

/* ******* Century Gothic (Bold-Italic) ***** */
@font-face {
  /* IE rule */
  font-family: "CenturyGothicBoldItalic";
  src: url(../fonts/CenturyGothicBoldItalic.eot);
}

@font-face {
  font-family: "CenturyGothicBoldItalic";
  src: url(../fonts/CenturyGothicBoldItalic.TTF) format("truetype");
}
