$font-serif: Georgia, Times, "Times New Roman", serif;
$font-sans-serif: Arial, "Helvetica Neue", Helvetica, sans-serif;
$newsWrapColor: #E2144D; // #927100
$title-bd-color: #fff; // #927100
$tle-bd-w: 2px; // #927100
$white: #fff;

.zone1 {clear: both;}
.cl {clear: left; }
#menu + .zoneLibre {margin: 0 auto;}

#DIV_SITEUNDER {
  position: relative;
  box-sizing: border-box;
  color: $white;
  // à traiter en js par rapport au utm_campaign news
  // #boitesSweetAlice, #jardiniere, #secheCheveux {
  //   display: none;
  // }
  // #boitesSweetAlice {display: inherit;}

  .news-wrap {
    position: relative;
    float: left;
    margin-top: 10px;
    line-height: 0;
    border: 1px solid $newsWrapColor;
    margin-bottom: 10px;
    background: $newsWrapColor;
    .linkanchor1, .linkanchor2 {
      position: absolute;
      width: 265px;
      height: 130px;
      // border: 1px solid #f00;
    }
    .linkanchor1 {
      top: 100px; left: 400px;
    }
    .linkanchor2 {
      top: 230px; left: 736px; width: 220px;
    }
  }

  .info {
    line-height: initial;
    padding: 10px;
    text-align: center;
    font: {
      family: $font-sans-serif;
      size: 21px;
    }
    span {
      display: inline-block;
      vertical-align: middle;
      padding: 0 36px;
      font-size: 30px;
      border: 1px solid $white;
      background-color: #80327D;
    }
  }
  .bt-codeaf {
    margin-left: 20px;
    background: #bd38b9;
    background-image: linear-gradient(to bottom, #bd38b9, #6b1068);
    border-radius: 28px;
    font-family: Arial;
    color: #ffffff;
    font-size: 18px;
    padding: 10px 20px;
    border: solid #ffffff 2px;
    text-decoration: none;
    &:hover,
    &:visited, {
    &:actif, {
    &:focus {
      background: #0dfa00;
      background-image: linear-gradient(to bottom, #0dfa00, #00cc1f);
    }
  }
  .visuelkdo, .detailkdo {
    float: left;
    margin-top: 30px;
    margin-bottom: 10px;}
  .visuelkdo {
    width: 29%;
    vertical-align: top;
    img {
      border: 1px solid $newsWrapColor;
    }
    }
  .detailkdo {
    width: 71%;
    color: #000;
    .likh1 {
      color: #B41F20;
      font: normal bold 21px arial;
    }
    .likh3 {
      font: normal normal 16px arial;
    }
    /* ul li {
    } */
    .likhp {
      margin-top: 10px;
      text-align: justify;
      font: normal normal 14px arial;
      list-style-type: none;
      .spacetop {
        margin-top: 5px;
        font-weight: bold;
        &+ul{
          // padding: 0 16px 0;
          // list-style-position: outside;
          // list-style-type: disc;
          list-style-type: none;
          li:before{
            color: #555555;
            content: "• ";
          }
        }
      }
    }
  }
}
